<component name="ArtifactManager">
  <artifact type="war" name="spring-mvc-setup:war">
    <output-path>$PROJECT_DIR$/spring-mvc-setup/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring-mvc-setup</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="webapp.war">
      <element id="artifact" artifact-name="spring-mvc-setup:war exploded" />
    </root>
  </artifact>
</component>